[submodule "repo/service.kodi.tts"]
	branch = v2.0.3-alpha
	path = repo/service.kodi.tts
	url = https://github.com/fbacher/service.kodi.tts
[submodule "repo/script.module.langcodes"]
    branch = v3.4.0-alpha
	path = repo/script.module.langcodes
	url = https://github.com/fbacher/script.module.langcodes
